body{
    margin: 0;
    padding: 0;
}

.container{
    width: 20em;
    margin: 0 auto;
}
main{
    width: 20em;
    height: 21em;
    align-self: center;
    background-color: aquamarine;

}
#h1{
    text-align:center;

}