body{
    margin: 0px;
    padding: 0px;
}

.container{
    width: 960px;
    margin: auto;
    background-color: cornflowerblue;
}


.header{
    height: 150px;
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    background-color: green;
}

.menu{
    height: 45px;
    margin-top: 0px;
    background-color: #000;
}

.main{
    height: 400px;

}
.seccion{
    background-color: blueviolet;
    
}

.articulo{
    float: left;
    width: 60%;
    height: 350px;
    margin: 2em;
    /* background-color: aqua; */

}

.aside{
    height: 350px;
    width: 250px;
    margin: 20px;
     background-color: aqua;
     float: right;
}


.menu a{
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    float: left;
}

.footer{
    height: 50px;
    width: 100%;
    margin: 0 auto;
    padding: 0px;

}

